# https://github.com/github/codeql-action
name: Code Scanning

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: 0 16 * * 1 # Every Monday at 16:00 UTC

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Initialize
        uses: github/codeql-action/init@v1
        with:
          languages: go
      - name: Analyze
        uses: github/codeql-action/analyze@v1
