name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19 # https://golang.org/dl/
      - name: Check API Version
        run: |
          version="$(git describe --tags)"
          version="${version/v}"
          grep -q "${version}" api/version.go
        shell: bash
      - name: Docker Login
        uses: docker/login-action@v2.0.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GORELEASER_GITHUB_TOKEN }}
      - name: Release
        uses: goreleaser/goreleaser-action@v3.0.0
        with:
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_GITHUB_TOKEN }}
