name: Validate

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18 # https://golang.org/dl/
      - name: Docs Check
        run: |
          before=$(cat docs/cli/*.md | md5sum)
          go run main.go docs docs/cli
          after=$(cat docs/cli/*.md | md5sum)
          if [ "$before" != "$after" ]; then exit 1; fi
        shell: bash
  golangci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18 # https://golang.org/dl/
      - name: Lint
        uses: golangci/golangci-lint-action@v3
        with:
          args: --timeout=5m
          version: v1.45 # https://github.com/golangci/golangci-lint/releases
  gomod:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18 # https://golang.org/dl/
      - name: Go Mod Tidy
        run: test -z $(go mod tidy)
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18 # https://golang.org/dl/
      - name: Goreleaser Check
        uses: goreleaser/goreleaser-action@v2.9.1
        with:
          args: check
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18 # https://golang.org/dl/
      - name: Cache Modules
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Test
        run: go test -cover -coverprofile=c.out -covermode=atomic -race -v ./...
