name: Validate

on:
  workflow_dispatch:
  push:

jobs:
  validate:
    runs-on: ubuntu-latest
    container: lingrino/ci:latest
    steps:
      - name: Code - Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Docs Check
        run: |
          before=$(cat docs/cli/*.md | md5sum)
          go run main.go docs docs/cli
          after=$(cat docs/cli/*.md | md5sum)
          if [ "$before" != "$after" ]; then exit 1; fi
        shell: bash
      - name: Goreleaser Check
        run: goreleaser check
      - name: Go fmt
        run: test -z $(gofmt -l -w -s vaku/)
      - name: Lint
        run: golangci-lint run --out-format github-actions
      - name: Prep Coverage
        run: cc-test-reporter before-build
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
      - name: Run Tests
        run: go test -cover -coverprofile=c.out -covermode=atomic -race -v ./...
      - name: Upload Coverage
        run: cc-test-reporter after-build -p "github.com/${GITHUB_REPOSITORY}"
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
