name: Validate

on:
  - push

jobs:
  validate:
    runs-on: ubuntu-latest
    container: lingrino/ci:latest
    services:
      vault:
        image: vault:1.3.2
        ports:
          - 8300:8300
        env:
          SKIP_SETCAP: "true"
          VAULT_DEV_ROOT_TOKEN_ID: hunter2
          VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8300
      targetvault:
        image: vault:1.3.2
        ports:
          - 8400:8400
        env:
          SKIP_SETCAP: "true"
          VAULT_DEV_ROOT_TOKEN_ID: targethunter2
          VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8400
    steps:
      - name: Code - Checkout
        uses: actions/checkout@master
        with:
          fetch-depth: 1
      - name: Go fmt
        run: test -z $(gofmt -l -w -s vaku/)
      - name: Prep Coverage
        run: |
          cc-test-reporter before-build
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
      - name: Run Tests
        run: go test -cover -coverprofile=c.out -covermode=atomic -race -v ./...
      - name: Upload Coverage
        run: |
          cc-test-reporter after-build -p "github.com/${GITHUB_REPOSITORY}"
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
